[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
